<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Single User Websocket</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/aes.js"></script>
    <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/components/core-min.js"></script>
    <style>
        * { margin: 0; padding: 0; box-sizing: border-box; }
        body { font: 13px Helvetica, Arial; }
        form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
        form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
        form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
        #messages { list-style-type: none; margin: 0; padding: 0; }
        #messages li { padding: 5px 10px; }
        #messages li:nth-child(odd) { background: #eee; }
    </style>

</head>
<body>
    <h1>Single User Websocket Demo</h1>
    <img src="http://localhost:3000/index" >
    <p>
        <label for="status">Status: </label>
        <input type="text" id="status"
            name="status" value="Disconnected"
            readonly="readonly" style="width: 300px;"
        />
    </p>
    <p>
        <label for="username">username </label>
        <input type="text" id="username"
            name="username" value="Default sender"
            style="width: 300px;"
        />
    </p>
    <p>
        <label for="token">My Token: </label>
        <input type="text" id="token" name="token" value="secret token" />
    </p>
    <p>
        <label for="token">nameSpace </label>
        <input type="text" id="nameSpace" name="nameSpace" value="" />
    </p>
    <p>
        <button id="connect" onclick="connect()">
        Connect
        </button>
        <button id="disconnect" onclick="disconnect()" disabled>
        Disconnect
        </button>
        <button id="joinRoom" onclick="JoinRoom()" >
        Join my-namespace nameSpace
        </button>
    </p>
    <ul id="messages"></ul>
    <br />
    <br />
    <br />
    <form action="">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form>
    <script>
        const socketUrl = 'https://dolt-to.herokuapp.com/';
        // const socketUrl = 'http://192.168.56.1:3000/';

        let connectButton;
        let disconnectButton;
        let socket;
        let statusInput;
        let tokenInput;
        let joinRoom;

        const connect = () => {
            let error = null;

            socket = io(socketUrl, {
                autoConnect: false,
            });

            socket.on('connect', () => {
                console.log('Connected');
                statusInput.value = 'Connected';
                connectButton.disabled = true;
                joinButton.disabled = false;
                disconnectButton.disabled = false;

                socket.emit('authentication', {
                    token: tokenInput.value,
                    username: Username.value,
                });
            });

            socket.on('unauthorized', (reason) => {
                console.log('Unauthorized:', reason);
                
                error = reason.message;

                socket.disconnect();
            });
            
            socket.on('chat message', (msg) => {
                $('#messages').append($('<li>').text(msg.sender + " " + msg.val));
            });

            socket.on('disconnect', (reason) => {
                console.log(`Disconnected: ${error || reason}`);
                statusInput.value = `Disconnected: ${error || reason}`;
                connectButton.disabled = false;
                joinButton.disabled = true;
                disconnectButton.disabled = true;
                error = null;
            });

            socket.open();
        };

        const disconnect = () => {
            socket.disconnect();
        }

        const JoinRoom = () => {
            room = $('#nameSpace').val();
            alert(room);
            socket.emit('join', room);
            socket.on('join', (msg) => {
                alert(msg);
            })
        }

        $('form').submit(function(e){
            e.preventDefault(); // prevents page reloading
            let val = $('#m').val();
            // val = encrypt(val);
            if (val){
                socket.emit('chat message', {
                'val': val,
                'sender': 'sender'
            });
            }
            $('#m').val('');
            return false;
        });

        document.addEventListener('DOMContentLoaded', () => {
            connectButton = document.getElementById('connect');
            joinButton = document.getElementById('joinRoom');
            disconnectButton = document.getElementById('disconnect');
            statusInput = document.getElementById('status');
            tokenInput = document.getElementById('token');
            joiningRoom = document.getElementById('nameSpace');
            Username = document.getElementById('username');
        });
    </script>
</body>
</html>